<h1><%= @title %></h1>

<p>My Meetups</p>
<ul>
  <% @my_meetups.sort.each do |meetup| %>
  <li><%= "#{meetup.meetup.name}" %></a></li>
  <% end %>
</ul>

<p>All Meetups: </p>
<ul>
<% @meetups.each do |meetup| %>
  <li><a href = <%= "/meetup/#{meetup.id}" %> ><%= "#{meetup.name}: #{meetup.description}" %></a></li>
<% end %>
</ul>

<br>

<p>Create new meetup: </p>

<form action = "/" method="post">
  <label for = "name">Meetup Name: </label>
  <input type = "text" name = "name" id = "name" />
  <br><br>
  <label for = "description">Meetup Description: </label>
  <input type = "text" name = "description" id = "description" />
  <input type = "submit" value = "Submit">
</form>
